
.vs/PontoFlutuante/DesignTimeBuild/.dtbcache.v2
.vs/PontoFlutuante/FileContentIndex/81aa08d4-3cca-40b7-ad65-d31c97531ddb.vsidx
.vs/PontoFlutuante/FileContentIndex/b10b85aa-5e3b-4522-bd15-a0f19ed86d6c.vsidx
.vs/PontoFlutuante/FileContentIndex/b9eee8fe-c454-43c8-a051-f10a55a7b2ee.vsidx
.vs/PontoFlutuante/FileContentIndex/read.lock
.vs/PontoFlutuante/v17/.futdcache.v2
.vs/PontoFlutuante/v17/.suo
.vs/ProjectEvaluation/pontoflutuante.metadata.v5.1
.vs/ProjectEvaluation/pontoflutuante.projects.v5.1
obj/Debug/net6.0/FloatBinarioIEEE754.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/FloatBinarioIEEE754.csproj.FileListAbsolute.txt
.vs/PontoFlutuante/v17/.suo
.vs/PontoFlutuante/v17/.suo
